h1{
	background: #6495ed;
	padding-bottom: 20px;
	margin: 0px;
}
div{
	margin: 0px;
	padding-bottom: 20px;
	background: #b0c4de;
}
p{
	background: #e0ffff;
	padding-bottom: 20px;
}
body{
	background: #e0ffff;
}